html {
  background-color: rgb(0, 0, 0);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 40px;
}
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
#create-grid-button {
  padding: 20px;
  font-size: 28px;
  background-color: white;
  border-radius: 12px;
  height: 70px;
  width: 220px;
}
.grid-container {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  height: 1000px;
}

.grid-container > div {
  background-color: rgb(63, 103, 126);
  width: calc(100% / 16);
  height: calc(100% / 16);
}

#draw {
  background-color: white;
}
